@tailwind base;
@tailwind components;
@tailwind utilities;

/* Подключение шрифта Euclid Circular A */
@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/Euclid Circular A Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/EuclidCircularA-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/Euclid Circular A SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/EuclidCircularA-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-light-bg-primary dark:bg-dark-bg-primary text-light-fg-primary dark:text-dark-fg-primary;
    font-family: 'Euclid Circular A', sans-serif;
  }
}

@layer components {
  .practice-card-decorative {
    left: -16px;
    right: -16px;
    top: -16px;
    bottom: -16px;
    width: calc(100% + 32px);
    height: calc(100% + 32px);
  }

  @media (min-width: 440px) {
    .practice-card-decorative {
      left: -20px;
      right: -20px;
      top: -20px;
      bottom: -20px;
      width: calc(100% + 40px);
      height: calc(100% + 40px);
    }
  }

  .practice-card-image {
    width: 120px;
  }

  .practice-card-title {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0;
  }

  @media (min-width: 440px) {
    .practice-card-title {
      font-size: 24px;
      line-height: 1.3333333333333333em;
      letter-spacing: -0.015em;
    }
  }

  .horizontal-card-image {
    width: 124px;
  }

  @media (min-width: 440px) {
    .horizontal-card-image {
      width: 186px;
    }
  }

  .horizontal-card-border {
    border: 1px solid rgba(52, 64, 121, 0.14);
  }

  .dark .horizontal-card-border,
  :is(.dark) .horizontal-card-border {
    border-color: rgba(255, 255, 255, 0.14) !important;
  }

  .practice-card-decorative-path {
    stroke: #22263B;
    stroke-opacity: 0.1;
  }

  .dark .practice-card-decorative-path,
  :is(.dark) .practice-card-decorative-path {
    stroke: #FFFFFF;
    stroke-opacity: 0.1;
  }
}
