@tailwind base;
@tailwind components;
@tailwind utilities;

/* Подключение шрифта Euclid Circular A */
@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/Euclid Circular A Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/EuclidCircularA-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/Euclid Circular A SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('/fonts/EuclidCircularA-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-light-bg-primary dark:bg-dark-bg-primary text-light-fg-primary dark:text-dark-fg-primary;
    font-family: 'Euclid Circular A', sans-serif;
  }
}
